.vscode/settings.json
MemoryAccess/BasicTest/BasicTest.asm
MemoryAccess/BasicTest/BasicTest.cmp
MemoryAccess/BasicTest/BasicTest.tst
MemoryAccess/BasicTest/BasicTest.vm
MemoryAccess/BasicTest/BasicTestVME.tst
MemoryAccess/PointerTest/PointerTest.asm
MemoryAccess/PointerTest/PointerTest.cmp
MemoryAccess/PointerTest/PointerTest.tst
MemoryAccess/PointerTest/PointerTest.vm
MemoryAccess/PointerTest/PointerTestVME.tst
MemoryAccess/StaticTest/StaticTest.asm
MemoryAccess/StaticTest/StaticTest.cmp
MemoryAccess/StaticTest/StaticTest.tst
MemoryAccess/StaticTest/StaticTest.vm
MemoryAccess/StaticTest/StaticTestVME.tst
src/main.o
src/parser.o
src/translator.o
target/vmtranslator
